
.bottom-container2{

  max-width: 1000px;
  min-height: 1000px;
  margin: 0 auto;
  background-color: #fff;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;

}
.picture_panel{
  background-color: #ECEFF3;
  padding: 30px;
  overflow-x:auto;
  overflow-y:auto;
  white-space:nowrap;
  width:800px; height:200px;
}


.picture{
  margin-right: 10px;
  height:inherit;
}

/*cafe info*/
#main_section{
  float:left;
  width: 600px;
  min-height: 1000px;
  padding: 20px;
  margin: 20px;


}
#main_aside{
  text-align: center;
  float:right;
  width: 180px;
  min-height: 150px;
  /* height: 150px; */
  margin: 20px 0px;
  padding: 20px;
  background: #F3F1FA;
  line-height:20px; 20%
}


/* section,aside{float:left;height:300px;padding:10px}
section{width:250px;background:skyblue}
aside{width:100px;background:pink} */


#seatstatus_btn{
  width: 100%;
  background-color: #5295D5;
  color: white;
  position: relative;
  right:10px;
}
#upload_btn{
  background-color: #F19E38;
  color: white;
  position: relative;
  right:10px;
}

.cafe_infs{
  margin-top: 30px;
}
.cafe_infs tr{
  height: 30px;
}
.cafe_infs td{
  min-width: 130px;
}

.inf .row{
  color: gray;
}

article .cafe_name{
  font-size: 1.7em;
}

.info_tags img{
    height: 30px;
    margin-top: 2px;
}
.info_tags{
  margin-top: 20px;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F7CE46;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

form.set_seat #seat_input{
    width:100px;
    height:5px;
    padding: 10px;
    /* 테두리를 원형으로 border-top-left-radius:25px;
    border-bottom-left-radius:25px; 시계방향으로*/
    border-radius:25px;
    /* 음각 없애기 */
    border:none;
}
