.nav_cafe a{
  cursor:pointer;
}

/* 화면 한가운데로 */
.bottom-container{
    /* display:flex; */
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;

}
/* show_review */


/*카페 정보 네비게이션 바*/
.nav_cafe{
  text-align: center;

  /* display: inline-block;
  list-style: none; */

  background: #282828;
  width: 100%;
  /* justify-content: space-around; */
  margin:0;
  padding:0;
  height: 30px;

  position: absolute;
  top: 450px;
}

.nav_cafe a {
  font-size:16px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 6px 10px;
  margin-right: 15px;
  margin-left: 15px;

}
.nav_cafe a::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 6px;
  background-color: #f1c40f;
  transition: all .5s ease-out;
}
.nav_cafe a:hover::after {
  width: 100%;
}

/* 레이아웃 */
body{
    margin: 0;
    font-family:"Nanum Gothic Coding"
}

.top-container{
    background-image : url('images/mainimg.png') ;
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center center;
    height: 450px;
    position: relative;
}

.top-container:before{
    content:""; position:absolute; top:0; left:0; right:0; bottom:0;
    background-color:rgba(0,0,0,0.2); display:block; z-index:1;
}
.contents{
    position:absolute; z-index:2;
}
.main-content{
    position:absolute;
    top: 130px;
    left: 350px;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 30px;
}

.navbar a{
    text-decoration:none;
    color:white;
}

.nav-logo{
    font-size:24px;
}

.nav-logo i{
    color:orange;
}

.nav-menu{
    display:flex;
    list-style:none;

}
.nav-menu li{
    padding:8px 15px;
}

/* 검색창 */

.title{
    color: white;
    text-align: center;
}




/* 디버그용 */
/* table, tr, td{
  border: 1px solid;
} */
.review_tags table{
  height: 200px;
}
.review_tags tr{
  height: 50px;
}
.column{
  width: 100px;
  height: 100;
  margin-right: 20px;
  border: 0px;
}
.category{
  margin-right: 20px;
  position: relative;
  left: 5px;
}

#starrate{
  margin-right: 70px;
  top: -7px;
  left: 10px;
}

/* 태그 선택 기능*/

/* HIDE RADIO */
[type=radio] {
  border-radius:25px 0 0 25px;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  border-radius: 45px;
  background-color: #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  /* transition: all 0.3s ease 0s; */
  outline: none;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  border: 2px solid #ff9900;
  border-radius: 45px;
  background-color: #ffcc00;
  box-shadow: 0px 5px 5px rgba(66, 115, 188, 0.4);
  transform: translateY(-1px);
}
/* chech되면 버튼 색깔 변경 되면 좋겠는데 js or php로 할지 모르겠다.*/


/* 별점 기능 */




.reviewform textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.rating .rate_radio {
    position: relative;
    display: inline-block;
    z-index: 20;
    opacity: 0.001;
    width: 35px;
    height: 35px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: top;
    display: none;

}
.rating .rate_radio + label {
    position: relative;
    display: inline-block;
    margin-left: -4px;
    z-index: 10;
    width: 35px;
    height: 35px;
    background-image: url('./images/starrate.png');
    background-repeat: no-repeat;
    background-size: 35px 35px;
    cursor: pointer;
    background-color: #f0f0f0;

}
.rating .rate_radio:checked + label {
    background-color: #FECF0F;
}

.warning_msg {
    display: none;
    position: relative;
    text-align: center;
    background: #ffffff;
    line-height: 26px;
    width: 100%;
    color: red;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}

/*------- review_list -----------*/
#write_review{
  /* background-color: #6699CC;
  color: #ffffff; 파란색 */
  background-color: #ff9900;
  color: #ffffff;

/* background-color: #cccccc; 그레이*/


  position: relative;
  left: 10px;
}

.review_list table{
  width: 100%;
  align-self: center;
  /* border-top:1px solid #444444; */
  border-collapse: collapse;
}

.review_list td{
  border-bottom: 1px solid #444444;
  /* padding: 10px; */
}

.upload_time{
  /* position: relative;
  top: -10px; */
  color: gray;
}
.rating_result{
  color: #FECF0F;
}
.review_result{
  padding-left: 20px;
  padding-right: 20px;
}

.user_img{
  display:block;
  margin: 10px auto;
}
.comment{
  line-height:20px;
}
